@model List<e_tech_heaven.Models.Articulos>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Detalles</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var articulo in Model)
        {
            <tr>
                <td>@articulo.ArticuloId</td>
                <td>@articulo.Nombre</td>
                <td>@articulo.Precio</td>
                <td>@articulo.Detalles</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = articulo.ArticuloId })">Editar</a> |
                    <a href="@Url.Action("Details", new { id = articulo.ArticuloId })">Detalles</a> |
                    <a href="@Url.Action("Delete", new { id = articulo.ArticuloId })">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Create")">Crear Nuevo Artículo</a>
